//Font Sizes

:root {
  --h1: calc(4.5rem + 1vw); // given 1200px then the 4.8rem + 1vw will be 60px
  --h2: calc(3.2rem + 1vw);
  --h3: calc(2.8rem + 1vw); // 40px
  --h4: calc(1.6rem + 1vw); // 28
  --h5: calc(1.4rem + 1vw);
  --footer: calc(0.4rem, 0.5vw);
  --p: calc(0.5rem + 1vw);
  @include respond(tab-land) {
    --p: calc(1rem + 1vw);
  }
}

//Colors
$color-primary: #80e0dd;
$color-secondary: #ef7f65;
$color-tertiary: #b1ea8c;

$color-yellow: #ffe35a;
$color-bg: #eff8ff;
$color-black: #101010;
$color-white: #fff;

$color-blue-dark: #15354b;

// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-secondary: "Rubik", sans-serif;
