.navigation {
  @include flex(row, center, center);
  flex-wrap: wrap;
  padding: 2rem;
  &__logo {
    @include flex(row, center, center);
    flex: 1 1 40rem;
  }
  &__nav {
    @include flex(row, flex-end, center);
    flex: 2 1 40rem;
  }
  &__list {
    width: 100%;
    @include flex(row, space-around, center);
  }
  &__link {
    color: $color-blue-dark;
  }
}

.header {
  @include flex(column, center, center);
  text-align: center;

  &__heading {
    background-image: url(../../img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include flex(column, center, center);

    padding: 10rem 15rem;

    @include respond(tab-land) {
      padding: 8rem 8rem;
    }
    @include respond(phone) {
      padding: 4rem 0;
    }
  }
  &__image {
    max-width: 50%;
    @include respond(tab-land) {
      max-width: 80%;
      padding: 2rem;
    }
  }
}

.features {
  max-width: 80%;
  margin-left: auto;
  @include flex(row, center, center);
  justify-content: space-around;
  flex-wrap: wrap;
  @include respond(tab-port) {
    padding: 4rem 2rem;
  }
}

.content {
  @include flex(row, center, center);
  flex-wrap: wrap;
}

.price-heading {
  text-align: center;
}

.download-cover {
  background: $color-bg;
  background-position: center;
  height: 70%;
  margin: auto;
  @include respond(tab-port) {
    height: 100%;
  }
}

.download {
  @include flex(row, center, center);
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  &__text {
    flex: 2 1 40rem;
    padding: 4rem;
    @include respond(tab-port) {
      flex: 2 1 40rem;
    }
    &--play {
      @include flex(row, center, center);
      justify-content: space-between;
    }
  }
  &__image {
    flex: 1 1 40rem;
    @include respond(tab-port) {
      flex: 1 1 50rem;
    }
    text-align: center;
    &-link {
      &-screen {
        width: 70%;
        position: relative;
        top: -10rem;
        @include respond(tab-port) {
          width: 30%;
          top: 0;
          transform: rotate(-60deg);
        }
      }
    }
  }
}

.subscribe {
  @include flex(row, center, center);
  @include centerAuto;
  padding: 8rem 0;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba($color-black, 0.1);

  &__text {
    @include flex(column, center, flex-start);
    flex: 2 1 40rem;
  }
  &__button {
    @include flex(row, center, center);
    flex: 1 1 40rem;
  }
}
