.content {
  padding: 4rem 2rem;
  &__text {
    flex: 1 1 40rem;
    padding: 4rem;
    @include respond(tab-land) {
      flex: 1 1 45rem;
      padding: 2rem;
    }
    @media only screen and (max-width: 62.5em) {
      order: 1;
    }
  }
  &__image {
    flex: 1 1 40rem;
    text-align: center;
    @include respond(tab-land) {
      flex: 1 1 45rem;
      padding: 2rem;
    }
    @media only screen and (max-width: 62.5em) {
      order: 2;
    }

    &--1 {
      max-width: 70%;
      object-fit: cover;

      @include respond(tab-land) {
        max-width: 80%;
        padding-top: 4rem;
      }
    }
  }

  &__form {
    display: flex;
    justify-content: flex-start;

    &--input {
      justify-self: flex-start;
      padding: 1rem 3rem;
      margin-right: 2rem;
    }
  }
}
