.mb-8 {
  margin-bottom: 8rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
